<html>
<body style="background-color:#cccc77">
Login<br>
<table>
<form method="post" action="/index">

<tr><td>Username:</td><td><input type="text" name="user"></td></tr>
<tr><td>Password:</td><td><input type="password" name="pass" align="center"></td></tr>
<tr><td></td><td><input type="submit" name="submit" value="Login"></td></tr>
</form>
<tr><td>
<label style="color:red;"><%=error%></label></td></tr>
</table>
</body>
</html>